form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

form > label {
  display: flex;
  flex-direction: column;
}

label > input,
textarea {
  font: inherit;
  font-weight: lighter;
  padding: 0.3rem;
  border-radius: 0.5em;
}
