ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h3,
h4 {
  margin: 0;
  padding: 0;
}

hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 1em 0;
}
/* Root styling */
#root {
  padding: 1rem 2rem;
  min-height: calc(100vh - 4rem);
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

#root > aside {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#root > aside > div {
  border: 1px solid #9394a5;
}

#root > main {
  color: black;
  padding: 2em;
  background-color: white;
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

main > .work-and-education {
  display: flex;
  align-items: flex-start;
  gap: 5em;
}

@media screen and (max-width: 480px) {
  #root {
    padding: 5px;
    margin: 0;
  }
}

@media screen and (max-width: 900px) {
  #root {
    flex-direction: column;
  }
  main > .work-and-education {
    flex-wrap: wrap;
    gap: 1em;
  }
}
